nav{
    width: 1200px;
}
.head h1{
    font-size: 50px;
    font-weight: 400;
    width: 800px;
}
.head p{
    font-size: 18px;
    width: 500px;

}
.work{
    background-color: #f1ecec38;
}
.work .row{
    width: 800px;
}
.work1 p{
    font-size: 20px;
}
.learn{
    /* background-color:rgb(243 244 246/var(--tw-bg-opacity)); */
    background-color:#f3f4f6;
}
.learn1{
    width: 800px;
}
.sto{
    background:linear-gradient(#fff,#f3f4f6) ;
    
}
.sto .row{
    width: 1000px;
}
.iimg1 img{
    width: 100%;
}
.iimg1{
    width: 18%;
}
.iimg12 img{
    width: 100%;
}
.iimg12{
    width: 20%;
}
.iimg13 img{
    width: 100%;
}
.iimg13{
    width: 21%;

}
.iimg14 img{
    width: 100%;
    
}
.iimg14{
    width: 20%;
}
.foot .row{
    width: 1200px;
}
.all{
    background-color: #f3f4f6;

}
.all11{
    background-color: #f3f4f6;

}
.allll{
    width: 900px;
}
.bu{
    padding-top: 35px ;
}
.ru p{
    text-align: justify;
}
.wi1{
    width: 920px;
}
.alla{
    background-color: #f9fafb;

}
.alla .row{
    width: 700px;
}
.all11 .row{
    width: 700px;

}

.paa{
    height: 500px;
}
.paa1 p{
    font-size: 14px;    
}
.all1{
    background-color: #f3f4f6;

}
.all1 .row{
    width: 1000px;
}
.alla1{
    background-color: #f9fafb;

}
.alla1 .asd{
    
    width: 400px;
}
.form-label{
    font-size: 12px;
}
.form-check-label {
    font-size: 12px;
}
.fo{
    font-size: 12px;
}
@media (min-width:400px) and (max-width:767.98px){
    .alla1{
        background-color: #f9fafb;
        padding-left:50px;
        padding-right: 50px;
    }
    .fo{
        font-size: 10px;
    }
}
@media (min-width:768px) and (max-width:991.98px){
    .alla1{
        background-color: #f9fafb;
        padding-left:50px;
        padding-right: 50px;
    }
    .fo{
        font-size: 10px;
    }
}
@media (min-width:992px) and (max-width:1199.98px){
    .alla1{
        background-color: #f9fafb;
        
    }

    
    .fo{
        font-size: 10px;
    }
}